@model EmployeeModel
@{
}

<h1>Edit Employee</h1>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
{
    @await Html.PartialAsync("_EmployeeForm", Model)
    <br />
    <button type="submit" class="btn btn-primary">Confirm Changes</button>
}