@model JobModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Job</h1>

@using (Html.BeginForm("Create", "Job", FormMethod.Post))
{
    @await Html.PartialAsync("_JobForm", Model)
    <br />
    <button type="submit" class="btn btn-primary">Create Job</button>
}