@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>This will be a list of componts!!!</p>

    <div>
        <a class="btn btn-primary" href="/Data1/Index" role="button">Data1!!!!</a>
    </div>

</div>
